.category_section {
    display: flex;
    flex-direction: row;
    row-gap: var(--margin-divider);
    column-gap: var(--margin-divider);
}

.toys {
    position: relative;
    width: 200px;
    margin-right: var(--margin-divider);
    align-items: flex-end;
    color: black;
}

.videogames {
    background-color: black;
    margin-left: var(--margin-divider);
    align-items: center;
}

.videogames,
.toys {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.toy_image_container {
    position: relative;
    width: 450px;
    height: 450px;
}

.toy_image_container > img {
    transition: transform 1s;
    transform-origin: bottom;
}

.toy_image_container > img:hover {
    transform: scale(1.1);
}

.image_container {
    height: 300px;
    width: 250px;
    position: relative;
}

.image_container > img {
    transition: scale 1s;
}

.image_container > img:hover {
    scale: 1.1;
}

@media only screen and (max-width: 768px) {
    .category_section {
        flex-direction: column;
    }

    .videogames,
    .toys {
        margin: 0;
        width: 100%;
        height: 70vw;
    }
}
