.category_container {
  display: flex;
  flex-direction: column;
}

.category_container > h1 {
  align-self: center;
}

.img_container {
  height: 250px;
  position: relative;
}

.img_container > img {
  height: 100%;
  object-fit: contain;
}

.card_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card_body > .details_button {
  width: 50%;
  align-self: center;
}
.card {
  width: 320px;
}

.cards_layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 426px) {
  .card {
    width: 100%;
  }
}
