:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --margin-divider: 12px;
    --dark: #212529;
    /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
}
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overscroll-behavior: none;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

main {
    background-color: white;
    overflow-x: hidden;
    display: grid;
    height: 100%;
    min-height: 100vh;
    grid-auto-flow: row;
    grid-template-rows: calc(100px + var(--margin-divider)) 1fr 100px;
}
