.subCategory_text {
    font-weight: bold;
}

.desktop_menu {
    display: grid;
    width: var(--header-menu-width);
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.columnHeader {
    font-weight: bolder;
}

.columnHeader > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.columnHeader > a:hover {
    text-decoration: underline;
}

.tabsContainer {
    position: relative;
}

.tabsContainer > div {
    position: unset;
}
