.subCategory_text {
    font-weight: bold;
}

.desktop_menu {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
}

.columnHeader {
    font-weight: bolder;
}

.columnHeader > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.columnHeader > a:hover {
    text-decoration: underline;
}

.tabsContainer {
    position: relative;
}

.tabsContainer > div {
    position: unset;
}
