.homepage {
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-divider);
}
/* Introduction Section */
.introduction {
    width: 100%;
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.red_gradient {
    background: -webkit-linear-gradient(#eee, rgb(253, 94, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow_gradient {
    background: -webkit-linear-gradient(#eee, rgb(255, 192, 57));
    /* background: -webkit-linear-gradient(#eee, rgb(254, 201, 89)); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple_gradient {
    background: -webkit-linear-gradient(#eee, rgb(255, 61, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green_gradient {
    background: -webkit-linear-gradient(#eee, rgb(73, 254, 133));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introduction > b {
    font-size: 90px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 1441px) {
    .introduction > h1 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 1440px) {
    .introduction > h1 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 769px) {
    .introduction > h1 {
        font-size: 6vw;
    }
}

@media only screen and (max-width: 550px) {
    .introduction > h1 {
        font-size: 9.8vw;
    }
}

@media only screen and (max-width: 550px) {
    .introduction > b {
        font-size: 16.8vw;
    }
}
