.categoryContainer > a {
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  color: black;
  text-decoration: none;
}

.categoryContainer > a:hover {
  font-weight: 1000;
  color: orange;
}

.categoryContainer {
  display: flex;
  justify-content: center;
}
